
#music-player {
  width: 220px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#musicPlayer {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 6px;
  background: #333;
  outline: none;
}


#songList {
  list-style: none;
  padding: 0;
  margin: 0;
}


#songList li {
  padding: 10px 15px;
  background-color: #444;
  margin-bottom: 8px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  user-select: none;
}


#songList li:hover {
  background-color: #666;
}


#songList li.playing {
  background-color: #46a8ea;
  color: white;
  font-weight: bold;
}
